body {
  background-color: #e5e4dd;
  width: 100vw;
  height: auto;
  margin: 0;
}

:root {
  color: #383838;
  font-family: quasimoda, sans-serif;
  font-weight: 700;
  font-style: normal;
}

nav {
  display: flex;
  justify-content: center;
  position: fixed;
  /* background-color: #e5e4dd; */
  width: 100vw;
  height: 1.3em;
  padding-bottom: 0.5em;
  font-size: 2em;
  z-index: 1;
}

a:not(:last-child) {
  padding-right: 2em;
}

a:active, .marked {
  color: #383838 !important;
}

a:hover{
  color: #FFFF50 !important;
}

a:link, a:visited {
  text-decoration: none;
  color:#383838;
}

.videoBox {
  width: 100vw;
  height: 4000px;
  z-index: 1;
}

.videoBoxsticky {
  width: calc(100vw - 3em);
  height: calc(100vh - 3.6em);
  position: sticky;
  top: 3.6em;
  left: 0;
  display: grid;
  background-color: #e5e4dd;
  grid-template-columns: minmax(1em, 1fr) minmax(60vw, 80em) 2em 3em minmax(1em, 1fr);
  grid-template-rows: minmax(1em, 1fr) minmax(35vh, 45em) minmax(1em, 1fr);
}

video{
  grid-column-start: 2;
  grid-row-start: 2;
  width: 100%;
  max-height: 100%;
  background-color: #e5e4dd;
  align-self: center;
  box-shadow: 0px 0px 40px 40px rgba(0, 0, 0, 0.07);
}

.workInfo{
  grid-column-start: 4;
  grid-row-start: 2;
  width: 100%;
  max-height: 100%;
  background-color: #e5e4dd;
  box-shadow: 0px 0px 40px 40px rgba(0, 0, 0, 0.07)
}

.workTitle {
  font-family: moret, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 7em;
  line-height: 0;
  color: #FFFF50;
  z-index: 2;
  grid-column-start: 2;
  grid-row-start: 2;
  left: 10em;
}

.logo {
  width: 3em;
  padding: 0.3em;
  height: auto;
}

.logoBox {
  position: fixed;
  z-index: 1;
}

.nameContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  color: #383838;
}
.name{
  font-family: moret, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 30vh;
  line-height: 0;
  padding-left: 0.3em;
}

#navigationBox {
  width: 3em;
  height: 1em;
  background-color: #FFFF50;
  position: fixed;
  right: 0;
  z-index: 2;
}
.workNavigation1 {
  width: 3em;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  right: 0;
}

.workNavigation2 {
  width: 3em;
  height: 120vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  right: 0;
}

.workNavigationBox1 {
  width: 20vh;
  height: 3em;
  margin-top: calc(10vh - 1.5em);
  margin-bottom: calc(10vh - 1.5em);
  margin-right: calc(-10vh + 1.5em);
  background-color: #B0B0B0;
  transform: rotate(90deg);
  vertical-align: middle;
}

.workNavigationBox2 {
  width: 20vh;
  height: 3em;
  margin-top: calc(10vh - 1.5em);
  margin-bottom: calc(10vh - 1.5em);
  margin-right: calc(-10vh + 1.5em);
  padding: 0;
  background-color: #E0E0E0;
  transform: rotate(90deg);
  vertical-align: middle;
}

.workNavigationBoxText {
  width: 20vh;
  height: 3em;
  margin-top: 10vh;
  margin-bottom: calc(10vh - 1.5em);
  margin-right: calc(-10vh + 1em);
  padding: 0;
  transform: rotate(90deg);
  vertical-align: middle;
  text-align: center;
  line-height: 0;
}

.scrollIcon {
  width: 6em;
  bottom: 0em;
  right: 4em;
  height: auto;
  position: fixed;
  z-index: 1;
}

::-webkit-scrollbar {
  display: none;
}

*{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
